.DS_Store
dogImages/
lfw/
mydata/
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
.ipynb_checkpoints/
bottleneck_features/DogVGG16Data.npz

__pycache__/

human_dataset\.zip

dog_dataset\.zip

logs/

saved_models/facenet/

saved_models/

bottleneck_features/
